/* ==========================================================================
   Default skin
   ========================================================================== */
/* Jihyun22 : 배경색 및 강조색 변경
/* Colors */
$background-color: #f7f7f7 !default; // 옅은 회색

$muted-text-color: #393e46 !default;
$primary-color: #0092ca !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$link-color: #393e46 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

